HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.DS_Store
.settings
.classpath
.factorypath
.project
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

*.log
*.gz
